@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

body{
  background: #34384E;
}

/* START: General styles */
.max-width {
  @apply max-w-[1440px] mx-auto;
}

.padding-x {
  @apply sm:px-16 px-6;
}

.padding-y {
  @apply py-4;
}

.flex-center {
  @apply flex items-center justify-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

.custom-btn {
  @apply flex relative justify-center items-center outline-none;
}

::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

/* Customize the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background: #888; /* Color of the thumb */
  border-radius: 5px; /* Rounded corners of the thumb */
}


.dropdown {
  position: relative;
  display: inline-block;
}

/* Style the button that triggers the dropdown */
.dropbtn {
  padding: 0px 20px;
  cursor: pointer;
  background-color: white;
  font-size: 14px;
  font-weight: 400;
  color:#808080;
  border-radius: 4px;
  border: 1px solid var(--neutral-color-scale-mid-grey-60-c-0-c-0-c-0, #C0C0C0);
  background: var(--black-white-white-100, #FFF);
  width: 368px;

}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  font-size: 14px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Style the links inside the dropdown */
.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  color: #333;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown content when the button is hovered over */
.dropdown:hover .dropdown-content {
  display: block;
}


/* Customize the scrollbar track on hover */
::-webkit-scrollbar-track:hover {
  background: #eee; /* Color on hover */
}

/* Customize the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the thumb on hover */
}

.custom-btn:disabled{
  opacity: 0.5;
}

.example::-webkit-scrollbar {
  display: none;
}

.hover-blue:hover:enabled{
  background-color: #34384E; 
  color: #ffffff;
  box-shadow: 0 0 10px #34384E;
}

.hover-white {
  /* Initial styles */
  border: 1px solid transparent;
  color: #34384E;
  box-shadow: none;
  transition: border 0.1s, color 0.1s, box-shadow 0.1s; /* Specify the properties to transition and the duration */
}

.hover-white:hover{
  border:1px solid #34384E;
  color: #ffffff;
  box-shadow: 0 0 10px #34384E;
}

.modal-overlay{
  position: fixed;
  top: 0;
  left:0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(52, 56, 78, 0.80);
  backdrop-filter: blur(2px);
  z-index: 10;
}

.modal{
  background-color: #FFF;
  box-shadow: 0px 2px 8px 0px rgba(87, 114, 129, 0.16);
  position: relative;
  border-radius: 8px;
}

.close{
  position: absolute;
  right: 16px;
  top:16px;
  cursor: pointer;  
}

/* BarChart.css */

.bar {
  display: inline-block;
  width: 20px; /* Adjust the width as needed */
  background-color: blue; /* Set the color of the bars */
  margin-right: 10px; /* Adjust the margin as needed */
}

.chart {
  display: flex;
  align-items: flex-end;
  gap:60px;
}

.ag-header-cell {
  height: 90px; 
}

.ag-header-cell-label  {
  font-size: 12px;
  font-weight: 400;
  color:  #808080;
  border-bottom: 1px solid #808080;
}

.shadow{
  box-shadow: 0px 2px 8px 0px rgba(87, 114, 129, 0.16);
}


.input_primary{
display: flex;
width: 268px;
padding: 10px 24px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 8px;
border-radius: 4px;
border: 1px solid #C0C0C0;
background: var(--white-100, #FFF);
text-align: center;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.opacity{
  opacity: 0.5;
}
.input-secondary-container{
position: relative;
padding-top: 8px;
}

.input-secondary-container>h3{
  color: #808080;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.22px;
  background-color: white;
  position: absolute;
  top: 0;
  left: 12px;
  padding: 0 4px;
}

.input-secondary{
border-radius: 4px;
border: 1px solid var(--neutral-color-scale-mid-grey-60-c-0-c-0-c-0, #C0C0C0);
background: var(--black-white-white-100, #FFF);
width: 368px;
padding: 10px 24px;
}

.input-secondary::placeholder{
  color: #808080;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

/* END: General styles */

/* START: Hero styles */
.hero {
  @apply flex xl:flex-row flex-col gap-5 relative z-0 max-w-[1440px] mx-auto;
}

.nav__title {
  @apply text-[22px] font-bold text-[#131A44];
}

.hero__subtitle {
  @apply text-[27px] text-black-100 font-light mt-5;
}

.hero__image-container {
  @apply xl:flex-[1.5] flex justify-end items-end w-full xl:h-screen;
}

.hero__image {
  @apply relative xl:w-full w-[90%] xl:h-full h-[590px] z-0;
}

.hero__image-overlay {
  @apply absolute xl:-top-24 xl:-right-1/2 -right-1/4 bg-hero-bg bg-repeat-round -z-10 w-full xl:h-screen h-[590px] overflow-hidden;
}
/* END: Hero styles */

/* START: Home styles */

.home__text-container {
  @apply flex flex-col items-start justify-start gap-y-2.5 text-black-100;
}

.home__filters {
  @apply mt-12 w-full flex-between items-center flex-wrap gap-5;
}

.home__filter-container {
  @apply flex justify-start flex-wrap items-center gap-2;
}

.home__cars-wrapper {
  @apply grid 2xl:grid-cols-4 xl:grid-cols-3 md:grid-cols-2 grid-cols-1 w-full gap-8 pt-14;
}

.home__error-container {
  @apply mt-16 flex justify-center items-center flex-col gap-2;
}
/* END: Home styles */

/* START: Car Card styles */
.car-card {
  @apply flex flex-col p-6 justify-center items-start text-black-100 bg-primary-blue-100 hover:bg-white hover:shadow-md rounded-3xl;
}

.car-card__content {
  @apply w-full flex justify-between items-start gap-2;
}

.car-card__content-title {
  @apply text-[22px] leading-[26px] font-bold capitalize;
}

.car-card__price {
  @apply flex mt-6 text-[32px] leading-[38px] font-extrabold;
}

.car-card__price-dollar {
  @apply self-start text-[14px] leading-[17px] font-semibold;
}

.car-card__price-day {
  @apply self-end text-[14px] leading-[17px] font-medium;
}

.car-card__image {
  @apply relative w-full h-40 my-3 object-contain;
}

.car-card__icon-container {
  @apply flex group-hover:invisible w-full justify-between text-grey;
}

.car-card__icon {
  @apply flex flex-col justify-center items-center gap-2;
}

.car-card__icon-text {
  @apply text-[14px] leading-[17px];
}

.car-card__btn-container {
  @apply hidden group-hover:flex absolute bottom-0 w-full z-10;
}
/* END: Car Card styles */

/* START: Car Details styles */
.car-details__dialog-panel {
  @apply relative w-full max-w-lg max-h-[90vh] overflow-y-auto transform rounded-2xl bg-white p-6 text-left shadow-xl transition-all flex flex-col gap-5;
}

.car-details__close-btn {
  @apply absolute top-2 right-2 z-10 w-fit p-2 bg-primary-blue-100 rounded-full;
}

.car-details__main-image {
  @apply relative w-full h-40 bg-pattern bg-cover bg-center rounded-lg;
}
/* END: Car Details styles */

/* START: Custom Filter styles */
.custom-filter__btn {
  @apply relative w-full min-w-[127px] flex justify-between items-center cursor-default rounded-lg bg-white py-2 px-3 text-left shadow-md sm:text-sm border;
}

.custom-filter__options {
  @apply absolute mt-1 max-h-60 w-full overflow-auto rounded-md bg-white py-1 text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm;
}
/* END: Custom Filter styles */

/* START: Footer styles */
.footer {
  @apply flex flex-col text-black-100  mt-5 border-t border-gray-100;
}

.footer__links-container {
  @apply flex max-md:flex-col flex-wrap justify-between gap-5 sm:px-16 px-6 py-10;
}

.footer__rights {
  @apply flex flex-col justify-start items-start gap-6;
}

.footer__links {
  @apply flex-1 w-full flex md:justify-end flex-wrap max-md:mt-10 gap-20;
}

.footer__link {
  @apply flex flex-col gap-6 text-base min-w-[170px];
}

.footer__copyrights {
  @apply flex justify-between items-center flex-wrap mt-10 border-t border-gray-100 sm:px-16 px-6 py-10;
}

.footer__copyrights-link {
  @apply flex-1 flex sm:justify-end justify-center max-sm:mt-4 gap-10;
}
/* END: Footer styles */

/* START: searchbar styles */
.searchbar {
  @apply flex items-center justify-start max-sm:flex-col w-full relative max-sm:gap-4 max-w-3xl;
}

.searchbar__item {
  @apply flex-1 max-sm:w-full flex justify-start items-center relative;
}

.searchbar__input {
  @apply w-full h-[48px] pl-12 p-4 bg-light-white rounded-r-full max-sm:rounded-full outline-none cursor-pointer text-sm;
}
/* END: searchbar styles */

/* START: search manufacturer styles */
.search-manufacturer {
  @apply flex-1 max-sm:w-full flex justify-start items-center;
}

.search-manufacturer__input {
  @apply w-full h-[48px] pl-12 p-4 rounded-l-full max-sm:rounded-full bg-light-white outline-none cursor-pointer text-sm;
}

.search-manufacturer__options {
  @apply absolute mt-1 max-h-60 w-full overflow-auto rounded-md bg-white py-1 text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm;
}

.search-manufacturer__option {
  @apply cursor-default select-none py-2 pl-10 pr-4;
}
/* END: search manufacturer styles */
.crisp{
  stroke: #ccc !important;
  stroke-dasharray: 2;
}